<template name="homepage">

	<div class="mobile-background">
		<div class="col-xs-12">
			<h1 style="color: white;">DocFinder</h1>
		</div>
		<div class="col-xs-12">
			<input style="margin-top: 50%;" class="form-control" placeholder="Find Me A Doctor ..." />
		</div>
		<div class="col-xs-12">
			<a style="margin-top: 10%;" href="#" class="btn btn-success btn-block">Find</a>
		</div>

		<div class="col-xs-12" style="color: white !important; text-align: center;margin-top: 20%">
			<a style="margin-top: 10%;color: white" href="#" class="">Login</a>  | <a style="margin-top: 10%;color: white" href="#" class="">Login with Facebook</a> | Register
		</div>
	</div>

	

</template>