<template name="dashboard">
	<div style="background-color: #5AA6D6;">
		<div class="container-fluid">
			<div class="input-group">
				<a class="input-group-addon" style="color: white"><i class="fa fa-bars fa-2x"></i></a>
				<h5 style="color: white">DocFinder</h5>
				<a class="input-group-addon" style="color: white"><i class="fa fa-search fa-2x"></i></a>
			</div>
		</div>
	</div>

	<div class="row" style="background-color: gainsboro; height: 100vh">
		<img src="/images/feeds.png" style="width: 100%; margin-top: 10px" />
	</div>

	<div class="row dashboard-controls" style="background-color: white;">
		<ul class="nav nav-pills nav-justified">
		  <li class="active"><a href="#"><i class="fa fa-home"></i> Home</a></li>
		  <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
		  <li><a href="#"><i class="fa fa-calendar"></i> Appointments</a></li>
		</ul>
	</div>
	
</template>