	<template name="profile">

	<div style="background-color: #5AA6D6;">
		<div class="container-fluid">
			<div class="input-group">
				<a class="input-group-addon" style="color: white"><i class="fa fa-bars fa-2x"></i></a>
				<h5 style="color: white">DocFinder</h5>
				<a class="input-group-addon" style="color: white"><i class="fa fa-search fa-2x"></i></a>
			</div>
		</div>
	</div>

	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-xs-7">
				<h5>Dr. Nicolo Engles</h5>
				<span style="display: block; text-align: center;color: gold;">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
				<i class="fa fa-star-o"></i>
			</span>
			</div>
			<div class="col-xs-5">
				<img src="/images/doctor-profile.jpg" style="width: 75px; height: 75px;" />	
			</div>
			<br>

			
			<div class="col-xs-12">
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#reviews" data-toggle="tab" aria-expanded="true">Reviews</a></li>
			  <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Profile</a></li>
			  <li class=""><a href="#schedule" data-toggle="tab" aria-expanded="false">Schedules</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
			  <div class="tab-pane fade active in" id="reviews">
			  	<strong>Jenny Armstrong</strong>
			  	<span style="display: block; text-align: center;color: gold;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				</span>
			    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
			   
			    <strong>Randy Armstrong</strong>
			  	<span style="display: block; text-align: center;color: gold;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				</span>
			    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
			 
			    <strong>John Armstrong</strong>
			  	<span style="display: block; text-align: center;color: gold;">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				</span>
			    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>

			  </div>
			  <div class="tab-pane fade" id="profile">
			    <div style="line-height: normal">
					<h6>Specialization:</h6>
					<p>Allergist, Family Practitioner, General Psychiatrist, Neurologist</p>
					<h6>Location:</h6>
					<p>Makati</p>
					<h6>Contact Number:</h6>
					<p>+63 909 237 1234</p>
					<a href="/appointment" class="btn btn-primary btn-block">Set An Appointment</a>
				</div>
			  </div>
			  <div class="tab-pane fade" id="dropdown1">
			    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
			  </div>
			  <div class="tab-pane fade" id="dropdown2">
			    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
			  </div>
			</div>
			</div>
		</div>
	</div>

</template>